<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Eto.Forms" version="2.5.8" targetFramework="xamarinmac20" />
  <package id="Eto.Platform.XamMac2" version="2.5.8" targetFramework="xamarinmac20" />
  <package id="Eto.Serialization.Xaml" version="2.5.8" targetFramework="xamarinmac20" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="xamarinmac20" />
  <package id="Portable.Xaml" version="0.24.0" targetFramework="xamarinmac20" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="xamarinmac20" />
</packages>